html {
    box-sizing: border-box;
    background-color: #232136;
}
body {
    background-color: #2a273f;
    color: #e0def4;
}
.card-title-today {
    color: #9ccfd8;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}
.card-title-upcoming {
    color: #ea9a97;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}
.card-title-allplants {
    color: #c4a7e7;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
}
h3 {
    color: #eb6f92;
}
button {
    background-color: #56526e;
    color: #e0def4;
    border: none;
    padding: 0.5em 1em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 0.5em;
    transition: all 0.12s ease;
}
button:hover {
    background-color: #6e6a86;
    color: #f6c177;
}
button:active {
    background-color: #2a283e;
    color: #f6c177;
}
.button-add-plant {
    background-color: #3e8fb0;
    color: #e0def4;
    border: none;
    text-decoration: none;
    padding: 0.5em 1em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 0.5em;
    transition: all 0.12s ease;
}
.button-add-plant:hover {
    background-color: #9ccfd8;
    color: #2a283e;
}
.button-add-plant:active {
    background-color: #1f1d2e;
    color: #f6c177;
}
.bg-today {
    background-color: #393552;
    color: #3e8fb0;
}
.bg-plant-secondary {
    background-color: #393552;
    color: #ea9a97;
}
.bg-plant-tertiary {
    background-color: #393552;
    color: #c4a7e7;
}
.form-label {
    color: #eb6f92;
}
.card {
    background-color: #393552;
    color: #e0def4;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
